#title {
	font-size: 2em;
	position: absolute;
	bottom: 0;
}

#chart-title {
	font-size: 1.5em;
	margin-top: -5px;
	margin-bottom: 10px;
}

.table-heading {
	font-weight: bold;
}

/* Footer formatting*/
#footer {
	margin-top: -10px;
	margin-bottom: 10px;
	font-style: italic;
}
