/*div {
	border: 1px solid black;
}*/

#title {
	font-size: 2em;
	position: absolute;
	bottom: 0;
}

.table-container {
	height: 40vh;
}

.chart-title {
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-top: -5px;
	text-align: center;
}

.chart-container {
  	margin-bottom: 10px;
}

.data-chart {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

}

.table-heading {
	font-weight: bold;
}

.pre-scrollable {
	max-height: 450px;
}

/* Footer formatting*/
#footer {
	font-style: italic;
	margin-top: -5px;
	margin-bottom: 10px;
}
