#title {
	font-size: 2em;
}

.chart-title {
	font-size: 1.5em;
	text-align: center;
}

.chart-container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.table-heading {
	font-weight: bold;
}

.sortable:hover {
	background: #d3d3d3;
}

/* ChartJS Legend Formatting */
.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}

.tc-chart-js-legend li {
  display: block;
  float: left;
  clear: both;
  padding: 10px;
}

.tc-chart-js-legend li span {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin-right: 10px;
}

/* Footer formatting*/
#footer {
	font-style: italic;
	margin-top: -5px;
	margin-bottom: 10px;
}